/* form to add habit */
#add-habit-form {
  position: absolute;
  top: 14%;
  left: auto;
  background-color: rgb(216, 223, 230);
  width: 85%;
}
/* box containing habits */
#box ul {
  position: absolute;
  top: 30vh;
  max-height: 60vh;
  width: 85%;
}
/* list iems showing habits */
#habits li {
  display: flex;
  flex-direction: column;
}
.list-group-item {
  color: darkslategray;
  background-color: rgb(111, 215, 219);
  margin-bottom: 20px;
}
/* info for a particular habit */
.habit-info {
  display: flex;
  justify-content: space-between;
}
.habit-info h4 {
  text-transform: capitalize;
  margin: 0;
}
/* the streak for a particular habit in list */
/* .habit-streak {
  margin-right: 2%;
  margin-left: 2%;
} */
/* .habit-streak p {
  margin: 0;
} */
/* .checked {
  text-decoration: line-through;
} */
/* Streak button */
#streak-container {
  display: inline-block;
}
